.Pokegame-pokeball{
    background-image: url("https://media1.tenor.com/images/7b57ea8f02b9599cff375408864bec41/tenor.gif?itemid=4630795");
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
}